//File to save all the color codes

$base-color: #485456;

$white: #FFF;
$teal: #90CAD6;
$dark-teal: #368393;
$shine-teal: #809a9f;
$grey: #9FA7B0;

$border-color: #c6d6d9;
$input-border-color: #d2dee2;
$grey-button-hover: #87919C;
$darkteal-button-hover: #276774;

$transparent: transparent;