//File to save CSS for radio buttons, label and supporting container
.radio-button-container{
  padding-top: 10px;

  input[type="radio"]{
    margin: 10px 10px 2px 2px;
    line-height: normal;
    display: inline-block;
    padding: 0;
    border: 1px solid #d2dee2;
    background-color: $white;
    vertical-align: middle;
    color: #485456;
  }

  label{
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: sub;
  }
}