.nav{
  @extend .navbar;
  @extend .navbar-default;

  border-radius: 0;

  .navbar-brand{
    font-size: 15px;
    font-weight: 600;
    margin-left: 6px;
    text-transform:uppercase;
    font-weight:600;
  }
}

.nav-actions{
  @extend .navbar;
  @extend .navbar-nav;
  @extend .pull-right;

  list-style: none;
  padding: 12px 13px;
}