//File to save CSS for distribution lists

dl.distribution-list{
  @extend .row;

  dt{
    @extend .col-md-7;

    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 12px;

    &:last-child{
      margin-bottom: 10px;
    }
  }

  dd{
    @extend .col-md-5;

    margin-top: 1px;

    &:last-child{
      margin-bottom: 10px;
    }
  }
}