//File to save CSS for input fields

.plain-bordered-input{
  @include vendor-prefix(border-radius, 4px);

  display: block;
  margin: 0;
  padding: 4px 10px;
  border: 1px solid $input-border-color;
  background-color: $white;
  vertical-align: middle;
  color: $input-text-color;
  outline: none;
  width: 99%;

  &:focus {
    border: 1px solid $input-hover;
  }
}