//File to save CSS for dropdown/select boxes

.plain-bordered-dropdown{
  @include vendor-prefix(border-radius,4px);

  width: auto;
  height: 30px;
  background-color: $white;
  border: 1px solid $dropdown-border;
  border-radius: 4px;
  line-height: inherit;
  min-width: 78px;
}